body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, black, purple, gray);
}

.login-wrapper {
  width: 50%;
  /* max-width: 700px; */
  display: flex;
  flex-direction: row; /* Cambiado de columna a fila */
  background: white;
  border-radius: 12px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
}

.login-image img {
  max-width: 100%;
  height: auto;
}

.login-form {
  width: 50%;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}
